[submodule "riscv-pk"]
	path = riscv-pk
	url = https://github.com/riscv-and-rust-and-decaf/riscv-pk.git
[submodule "crate/fs/sfs"]
	path = crate/fs/sfs
	url = https://github.com/wangrunji0408/SimpleFileSystem-Rust.git
